@charset "utf-8";
/*index*/
#content {
	width:400px;
	height:auto;
	}
.menu {
	width:400px;
	}	
.m2 {
	background-position: center center;
	width: 109px;}	
.m3 {
	background-position: center center;
	width: 109px;}	
.m4 {
	background-position: center center;
	width: 109px;}		
.cont1 {
	width:400px;
	height: auto;}
.breadcrumbs {
	width:180px;}
.anchor {
	width: 100%;
	display: block;
	}	
.menu-lateral ul {
	padding:25px;}	
.borde-inferior {
	width:400px;
	position:relative;}	
.boton {
	left: 300px;}
	/*index*/
.boton-index {
	background-image: url(../images/boton-08.png);
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
	float: left;
	position: relative;
	bottom: -45px;
	left: 377px;
	width: 21px;
	height: 21px;
	/*background-color:#0F0;*/
	z-index: 9999;
	cursor: pointer;
}
.boton-index:hover {
	background-image: url(../images/boton-08.png);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	cursor: pointer;
}	
.boton-index2 {
	background-image: url(../images/boton-08-2.png);
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
	float: left;
	position: relative;
	bottom: -45px;
	left: 377px;
	width: 21px;
	height: 21px;
	/*background-color:#0F0;*/
	z-index: 9999;
	cursor: pointer;
	
}
.boton-index2:hover {
	background-image: url(../images/boton-08-2.png);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	cursor: pointer;
}
.texto-subtit {

padding-bottom: 0px;
	}
.texto-cont {
font-size: 14px;
letter-spacing: 0px;	}	

/*excursiones*/
.cont1-excur {
	width:400px;
	height:auto;
	}
.texto-excur-cont {
	width:350px;
	}
.galeria-excur {
	width:400px;
	padding-top: 230px;}
.boton-excur {
	position: relative;
	left: 44%;
	top: 45px;
	}			
/*habitaciones*/
.cont1-hab {
	width: 400px;
height: 380px;
}	
.boton-hab {
	left: 377px;
	}
/*servicios*/
.cont1-serv {
	width: 400px;
	height:625px
	}
.cont-serv {
	width: 250px;
	height: 625px;
	}	
.serv1 {
	float: right;
	width: 250px;
	height: 200px;
	}	
.serv-img {
	margin-left: auto;
	margin-right: auto;
}
.serv-tit {
	width: 245px;
}	
.serv-txt {
	width: 245px;
}
.boton-serv {
	left: 377px;}
/*registro*/
.footer-reg {
margin-top: 30%;
}	
/*registro*/
.footer-reg {
	margin-top:25px;
}
/*reservaciones*/
.footer-reserv {
	margin-top:0;
}
.reserv-in-txt {
width: 115px;}
.reserv-out-txt {
width: 115px;}
/*habitaciones*/
.anchor-select {
	display: block;
	width: 25%;
	left: 4%;
	top: 57%;
	}
