@charset "utf-8";
/*index*/
#content {
	width:100%;
	height:auto;
	}
.menu {
	width:310px;
	}	
.m2 {
	background-position: center center;
	width: 25.5%;}	
.m3 {
	background-position: center center;
	width: 25.5%;}	
.m4 {
	background-position: center center;
	width: 25.5%;}		
.cont1 {
	width:100%;
	height:200px;}
.borde-inferior {
	width:100%;
	}
.breadcrumbs {
	width:90%;
	}	
.menu-lateral ul {
	padding:15px;
	font-size: 10px;
	}	
/*index*/	
.boton-index {
	background-image: url(../images/boton-08.png);
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
	float: left;
	position: relative;
	bottom: -45px;
	left: 93%;
	width: 21px;
	height: 21px;
	/*background-color:#0F0;*/
	z-index: 9999;
	cursor: pointer;
}
.boton-index:hover {
	background-image: url(../images/boton-08.png);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	cursor: pointer;
}	
.boton-index2 {
	background-image: url(../images/boton-08-2.png);
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
	float: left;
	position: relative;
	bottom: -45px;
	left: 93%;
	width: 21px;
	height: 21px;
	/*background-color:#0F0;*/
	z-index: 9999;
	cursor: pointer;
	
}
.boton-index2:hover {
	background-image: url(../images/boton-08-2.png);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	cursor: pointer;
}
.texto {
width: 90%;
height: auto;
}		
.texto-subtit {
padding-bottom: 0px;
	}
.texto-cont {
font-size: 9px;
	}
/*excursiones*/
.cont1-excur {
	width:100%;
	height:480px;
	}
.texto-excur-cont {
	width:87%;
	}
.galeria-excur {
	width:300px;
	padding-top: 250px;
	}	
.boton-excur {
	left:93%;
	}	
.boton-vergal {
	margin-right: 0px;
	}	
/*habitaciones*/	
.cont1-hab {
	width:100%;
	height:425px;
	}
.boton-hab	{
	left:94%;
	}
.texto-hab-cont {
	font-size:11px;
	}	
/*servicios*/	
.cont1-serv {
	width: 100%;
	height:650px
	}
.cont-serv {
	width: 100%;
	height: 625px;
	margin-top: 10px;
	}	
.serv1 {
	float: right;
	width: 100%;
	height: 200px;	
	}	
.serv-img {
	margin-left: auto;
	margin-right: auto;
	background-color:none;
	}
.serv-tit {
	width: 100%;
	}	
.serv-txt {
	width: 100%;
	}
.boton-serv {
	left: 93%;
	bottom: 4px;
	}
.menu-lateral{
	width: 97%;
	height: 25px;
	border-right:none;
	border-bottom: thin inset #CCC;
	}	
.menu-lateral ul{
	padding: 0px;
	}
.menu-lateral ul li:hover{
	list-style-image:none;
	}	
li {
	width: 33%;
	float: left;
	text-align: center;
}		
/*registro*/
.footer-reg {
	margin-top:25px;
}
/*reservaciones*/
.footer-reserv {
	margin-top:0;
}
.reserv-in{
	width:49%;}
.reserv-in-txt{
	width:79%;}
.reserv-in-btn{
	width:20%;}	
.reserv-out{
	width:49%;}
.reserv-out-txt{
	width:79%;}
.reserv-out-btn{
	width:20%;}	