<div class="texto-tit">
    Entorno</div>
<!-- <div class="texto-subtit"><a>COSTA ECUATORIANA</a>
</div> -->
<div class="texto-cont">
    <p>Eden Blue se encuentra rodeada de una plantación de palmeras de coco, que propician un ambiente exóticamente tropical. Las zonas de Hospedaje y Servicios están construidas a 70 metros de la playa, con acceso privado y directo a la misma y armonizan con el entorno fresco y natural del mar y la playa. La playa se caracteriza por su amplitud y extensión, al final de la baja marea Ud. podrá disfrutar de 200 metros de playa (desde el perfil costanero hasta el mar), cuyo suelo firme y compacto resulta ideal para la práctica de muchos deportes como atletismo, volley ball, foot ball, etc.</p>
    <p>Si no puede bañarse en el mar durante las horas soleadas, no se preocupe. Ud. puede tomar un agradable y relajante baño de mar en cualquier momento (con sol o sin sol) y en cualquier época del año, ya que la Corriente Cálida del Niño mantiene la temperatura del agua en 26° centígrados, en promedio, durante el verano y el invierno.</p>
    <p>La Península de Cojimíes, recientemente declarada área de expansión turística, presenta una playa limpia y libre de contaminación.</p>
    <p>A tan solo 500 ms de distancia, se puede explorar una selva virgen tropical, habitada por una colonia de 2.000 monos aulladores americanos, y por otras especies como: guantas, cheques, armadillos, gran diversidad de insectos y mariposas, aves que habitan permanentemente en la selva y aves de paso o migratorias que la visitan en determinadas épocas del año.</p>
    <a href="#ecosistema/en">Conoce más sobre el Ecosistema</a>
    <p>&nbsp;</p>
</div>
