<div class="texto-hab1">
    <div class="texto-hab-tit">Simples</div>
    <div class="texto-hab-cont">
        <a>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor.</a>              
    </div>
    <div class="boton-vermas">Ver galería</div>
</div>
<div class="texto-hab2">
    <div class="texto-hab-tit">Dobles</div>
    <div class="texto-hab-cont">
        <a>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor.</a>
    </div>
    <div class="boton-vermas">Ver galería</div>
</div>