<div class="cont1">
    <div class="breadcrumbs">{{ breadcrumbs }}</div>
    <div class="menu-lateral">
        <ul>
            <li><a href="#hosteria/infraestructura">INFRAESTRUCURA</a></li>
            <li><a href="#hosteria/entorno">ENTORNO</a></li>
            <li><a href="#hosteria/habitaciones">HABITACIONES</a></li>
        </ul>
    </div>
    <div app-view-segment="1">
    </div>
</div>    
<div class="borde-inferior">
    <div class="boton-index"><img src="images/boton-08.png" width="21" height="21" /></div>
    <div class="boton-index2"><img src="images/boton-08-2.png" width="21" height="21" /></div>
</div>