<div class="cont1-reg">
    <div class="login-tit">REGISTRO</div>
    <div class="fondodeg-reg">
        <div class="login-field-reg">
            <form method="post">
                <p class="txt"><input type="text" name="name" value="" placeholder="Nombre"></p>
                <p class="txt"><input type="text" name="email" value="" placeholder="Email"></p>
                <p class="txt"><input type="text" name="tel" value="" placeholder="Tel&eacute;fono"></p>
                <p class="txt"><input type="text" name="date" value="" placeholder="Fecha de nacimiento"></p>
                <p class="txt"><input type="password" name="password" value="" placeholder="Contrase&ntilde;a"></p>
                <p class="txt"><input type="password" name="password" value="" placeholder="Confirmar contrase&ntilde;a"></p>

            </form>
        </div>
        <div class="login-btn">&#8226;  Reg&iacute;strate   &#8226;</div>


    </div>
</div>