<div class="cont1-reserv">
	<form action="site/book" method="post" ng-submit="validateForm($event)">
		<div class="reserv-tit">RESERVACIONES</div>
		<div class="fondodeg-reserv">
			<div class="reserv-inout">
				<div class="reserv-in">
					<div class="reserv-in-txt">
						<input type="text" name="llegada" placeholder="LLEGADA" id="datepickerl" ng-model="llegada" ng-change="fechas()" required />
					</div>
				</div>
				<div class="reserv-out">
					<div class="reserv-out-txt">
						<input type="text" name="salida" placeholder="SALIDA" id="datepickers" ng-model="salida" ng-change="fechas()" required />
					</div>
				</div>
			</div>
			<div ng-show="first" class="reserv-tit2">Escoge la fecha</div>
			<div ng-show="loading">
				<div class="spinner"></div>
			</div>
			<div class="reserv-coti">
				<div ng-show="!loading && !first">
					<div class="reserv-numhab">
						<div id="rooms">
							<div class="reserv-numhab-txt">Habitaciones</div>
							<select id="floatright" name="habitaciones" ng-model="numero" ng-change="habitaciones()" required>
								<option ng-repeat="a in range(maxHabitaciones) track by $index" value="{{ $index+1 }}">{{ $index+1 }}</option>
							</select>
						</div>
					</div>
					<div compileroom="hab"></div>
					<div class="max-personas">Nº Máximo Personas: {{ maxPersonas }}</div>
					<input type="hidden" name="maxPersonas" value="{{ maxPersonas }}" />
				</div>
				<div class="subtot">
					<div class="subtot-cont">_________</div>
					<div class="subtot-cont">
						<div class="subtot-center-top">SUBTOTAL</div>
						<div class="subtot-center-mid">
							<label>{{ subtotal | currency }}</label>
						</div>
						<div class="subtot-center-bot">+ {{ impuestos | currency }} (IMP)</div>
					</div>
					<div class="subtot-cont">_________</div>
				</div>
			</div>
		</div>
		<div class="reserv-total">TOTAL=
			<label>{{ total | currency }}</label>
			<input type="hidden" id="htotal" name="total" value="{{ total }}" />
		</div>
		<input type="submit" value="&#8226; Reservar &#8226;" />
	</form>
</div>
<div id="modalErrores" style="display:none;position: fixed;top: 400px;  left: 41%;">
	<div id="textoErrores"></div>
	<br><br>
	<button id="btnOk">Ok</button>
</div>
<script>
$(function() {
	$("#datepickerl").datepicker({
		minDate: 1,
		onClose: function(selectedDate) {
			$("#datepickers").datepicker("option", "minDate", selectedDate);
		}
	});
	$("#datepickers").datepicker({
		onClose: function(selectedDate) {
			$("#datepickerl").datepicker("option", "maxDate", selectedDate);
		}
	});
	//$.datepicker.setDefaults( $.datepicker.regional[ "es" ] );
	$("#btnOk").click(function() {
		$("#modalErrores").hide();
	});
});
</script>
